@font-face 
{
  font-family: "CircularStd-Book";
  src: url("./CircularStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
*{
    font-family: "CircularStd-Book";
}

#mainBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fecha{
    display: inline-block;
    color: #FFCDBC;
    font-size: 20px;
    text-align: left;
    width: 7vh;
}


.indexNav {

    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.indexNav ul {
    list-style: none;
    background-color: #7C3626;
    padding: 0;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
}

.indexNav a{
    text-decoration: none;
    color: #FFCDBC;
    padding: 20px;
    display: block;
    position: relative;

}

.indexNav a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFCDBC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.indexNav a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.contenedorblog1 {
    position: relative;
    top: 5vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedorblog2 {
    position: relative;
    top: 5vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blog1 {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #f27121, #e94057, #8a2387);
    border-radius: 20px;
    transition: 0.5s;
    width: 80vh;
    height: 40vh;
    text-align: center;
}

.blog1 iframe{
    width: 50vh;
    height: 30vh;
}
.blog1:hover {
    border-image-source: radial-gradient(circle, #f27121, #e94057, #8a2387);
    transition: 0.5s;
    box-shadow: 0 0 5px black, 0 0 25px white, 0 0 50px black, 0 0 200px white;
}

.blog2 {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #f27121, #e94057, #8a2387);
    border-radius: 20px;
    transition: 0.5s;
    width: 80vh;
    height: 40vh;
    align-items: center;
    text-align: center;
}

.blog2 iframe{
    width: 50vh;
    height: 30vh;
}
.blog2:hover {
    border-image-source: radial-gradient(circle, #f27121, #e94057, #8a2387);
    transition: 0.5s;
    box-shadow: 0 0 5px black, 0 0 25px white, 0 0 50px black, 0 0 200px white;
}
