


body {
  margin:  0;
  height:  100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #130303, #7C3626);
  animation: bgAnimate  5s infinite alternate;
}
@keyframes bgAnimate {
  0% { background-position:  0%  50%; }
  50% { background-position:  100%  50%; }
  100% { background-position:  0%  50%; }
}

/*botón*/

form button {
  border: none;
  border-radius:  5px;
  padding:  10px;
  margin-bottom:  20px;
  outline: none;
  transition: border  0.5s ease;
  font-weight: bold;
  background-color: #130303;
  color: white;
}

button:hover {
  border:  2px solid transparent;
  background-clip: padding-box;
  box-decoration-break: clone;
  animation: borderAnimate  1s infinite alternate;
}

@keyframes borderAnimate {
  0% { border-image-source: linear-gradient(90deg, #7C3626, #130303); }
  50% { border-image-source: linear-gradient(180deg, #7C3626, #130303); }
  100% { border-image-source: linear-gradient(270deg, #7C3626, #130303); }
}



/*form*/

form {
  display: flex;
  flex-direction: column;
  max-width:  400px;
  padding:  20px;
  background:  #7C3626;
  border-radius:  10px;
  box-shadow:  0  10px  20px #130303;
}

.fade-out {
  opacity: 0;
}
