@font-face {
    font-family: "CircularStd-Book";
    src: url("./CircularStd-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "CircularStd-Book", sans-serif;

}


.indexNav {

    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.indexNav ul {
    list-style: none;
    background-color: #7C3626;
    padding: 0;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
}

.indexNav a{
    text-decoration: none;
    color: #FFCDBC;
    padding: 20px;
    display: block;
    position: relative;

}

.indexNav a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFCDBC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.indexNav a:hover::after{
   transform: scaleX(1);
   transform-origin: left;
}

div > svg {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    top: 0;
    position: absolute;
    left: 0;
    fill: #130303;
    background-color: #FFCDBC;
}


.seccionIndex {
    color: #FFCDBC;
    font-size: 30px;
    text-align: justify;
    word-break: break-word;
}

.seccionIndex * {
    background-color: #7C3626;
}

article p {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
    font-size: 16px;
    width: 50vh;
}

article h1 {
    text-align: center;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55vh;
    margin: auto;
}

#fecha {
    display: flex;
    justify-content: center;
    width: 10vh;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 16px;
    color: #FFCDBC;
    background-color: #7C3626;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10vh;
    background-color: #7C3626;
    width: 23vh;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

footer a {
    margin: 1vh;
    font-size: 14px;
    text-decoration: none;
    color: #F5853F;
    transition: all 0.5s ease-in-out;
    background-color: #7C3626;
}

footer a:hover {
    color: #FFCDBC;
}


.fade-in {
    opacity: 1;
}

body {

    min-height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}